@media screen and (max-device-width: 1000px) {
    /* queries for main section */
    #title {
        font-size: 14em;
    }
    #subtitle {
        font-size: 3em;
    }

    #animations {
        display: none;
    }
    .content {
        height: 40vh;
        justify-content: space-around;
    }

    /* queries for about me section */
    .aboutMeInfo h2 {
        font-size: 8em;
    }
    .aboutMeInfo sub {
        font-size: 3.35em;
    }
    .aboutMeInfo p {
        font-size: 3.5em;
    }

    .classlistScroll, .skilllistScroll {
        height: 85vh;
        font-size: 1.4em;
    }

    /* queries for project section */
    ul { /* for all projects */
        display: block;
    }
    li { /* for each project container */
        height: 60vh;
        width: 96vw;
        padding: 2vh 0;
    }

    .projectSection {
        height: fit-content;
    }
    .projectSection > h2 { /* 'My Work' */
        position: absolute;
        top: 1.25vh;

        font-size: 7.5em;
    }
    .projectImg {
        top: -3vh;
        left: -5vw;

        height: 32vh;
        width: 80vw;
    }
    .projectContainer {  
        height: 60vh;
        width: 80vw;
        margin-bottom: 2.5vh;
    }
    .projectDescription {
        top: 30vh;
        left: 3vw;
        height: max-content;
    }
    .projectDescription p {
        font-size: 2.5em;
        line-height: 4rem;
    }
    .wanda {
        margin-top: 5vh;
    }
    .wandaImg {
        left: -5vw;
        width: 60vw;
    }
    .wandaDesc {
        top: 30vh;
        left: 3vw !important;
        height: 13vh;
    }
    .skillsDesc {
        display: none;
    }
    li>h2 {
        font-size: 4em;
    }
    .button {
        position:absolute;
        top: 17vh;
        z-index: 1;
        height: 3vh;
        width: 25vw;
        font-size: 1.75em;
        font-size: 'DM Serif Text', serif;
    }
}