@media screen and (max-device-width: 1000px) {
    /* queries for main section */
    #title {
        font-size: 14em;
    }
    #subtitle {
        font-size: 3em;
    }

    #animations {
        display: none;
    }
    .content {
        height: 40vh;
        justify-content: space-around;
    }

    /* queries for about me section */
    .aboutMeInfo h2 {
        font-size: 6.5em;
    }
    .aboutMeInfo sub {
        font-size: 3.35em;
    }
    .aboutMeInfo p {
        font-size: 3.5em;
    }

    .classlistScroll, .skilllistScroll {
        height: 85vh;
        font-size: 1.4em;
    }

    /* queries for project section */
    ul { /* for all projects */
        display: block;
        padding: 0;
    }
    li { /* for each project container */
        height: 60vh;
        width: 100vw;

        margin: 2.5vh 0;
        overflow:visible;
    }

    .projectSection {
        height: fit-content;
    }
    .projectSection > h2 { /* 'My Work' */
        position: relative;
        top: 2vh;

        font-size: 8.5em;
    }
    .projectImg {
        height: 32vh;
        width: 90vw;

        top: -4vh;
        left: -5vw;

        border: 3px solid black;
    }
    #wanda {
        height: 32vh;
        width: 75vw;

        left: 2vw;
    }
    .projectContainer {  
        height: 60vh;
        width: 80vw;
        margin-bottom: 2.5vh;
    }
    .projectDescription {
        top: 30vh;
        left: 3vw;
    }
    .projectDescription p {
        font-size: 2.5em;
        line-height: 4rem;
    }
    .wandaDesc {
        left: 3vw !important;
    }
    .excellusLogo {
        display: none;
    }
    li>h2 {
        font-size: 4em;
    }
    .button {
        position:absolute;
        top: 17vh;
        left: 40vw;
        z-index: 1;
        height: 3vh;
        width: 25vw;
        font-size: 1.75em;
        font-size: 'DM Serif Text', serif;
    }
}