@media screen and (max-device-width: 1000px) {
    /* queries for main section */
    #title {
        font-size: 14em;
    }
    #subtitle {
        font-size: 3em;
    }

    #animations {
        display: none;
    }
    .content {
        height: 65vh;
        justify-content: space-around;
    }

    /* queries for about me section */
    .aboutMeInfo h2 {
        font-size: 8em;
    }
    .aboutMeInfo sub {
        font-size: 3.35em;
    }
    .aboutMeInfo p {
        font-size: 3.2em;
    }

    /* queries for project section */
    ul { /* for all projects */
        display: block;
    }
    li { /* for each project container */
        height: 60vh;
        width: 96vw;
    }

    .projectSection {
        height: auto;
    }
    .projectSection > h2 { /* 'My Work' */
        position: absolute;
        top: 1.25vh;

        font-size: 7.5em;
    }
    .projectImg {
        top: -3vh;
        left: -5vw;

        height: 32vh;
        width: 80vw;
    }
    .projectContainer {  
        width: 80vw;
        height: 65vh;
        margin-top: 7vh;
    }
    .projectDescription {
        top: 28vh;
        left: 3vw;
    }
    .projectDescription p {
        font-size: 1.6em;
        line-height: 3.3rem;
    }
    .wanda {
        margin-top: 12vh;
    }
    .wandaImg {
        left: -5vw;
        width: 60vw;
    }
    .wandaDesc {
        position: absolute;
        top: 22vh;
        left: 3vw !important;
    }
    .button {
        position:absolute;
        top: 17.25vh;
        z-index: 1;
        height: 3vh;
        width: 25vw;
    }
}